app-test2-cicd/src/main/mule/app-test2-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c70d29e5-04d5-4bf3-8136-899f2d230c36" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="app-test2-cicdFlow" doc:id="ce881ccf-a396-4f94-acbc-d578285e78fe" >
		<http:listener doc:name="Listener" doc:id="a8bece27-5f52-4e4a-9eab-9139224165fe" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Successfully completed CICD integration using Jenkins..."]' doc:name="Set Payload" doc:id="54a473ec-1c11-46db-8507-1a30bd88f692" />
		<logger level="INFO" doc:name="Logger" doc:id="9493383d-3097-4ab4-8980-2aa55a5a5ae3" />
	</flow>
</mule>
